<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue To Do List</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="root">
        <div class="container">
            <div>
                <input 
                type="text"
                placeholder="To do..."
                v-model="text"
                @keyup.enter="addToDoElement">
                
                <button @click="addToDoElement">Add</button>
            </div>
            <ul>
                <li 
                v-for="(item, index) in toDoList"
                :class="{done: item.done === true}">
                    <span class="to-do-text">{{item.text}}</span>
                    <span class="cross" @click="removeToDo(index)">X</span>
                </li>
            </ul>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>